.advantages {
  background-color: #ffffff;
}

.advantages__title {
  margin: 0;
  margin-bottom: 27px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-top: 15px;
    margin-bottom: 41px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin-top: 0;
  }
}

.advantages__list {
  .list-reset;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 35px;
    justify-content: flex-start;
  }

  @media (min-width: @desktop-width) {
    column-gap: 50px;
  }
}

.advantages__item {
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    width: 300px;
    margin-bottom: 57px;
  }
}

.advantages__item:last-child {
  margin-bottom: 0;
}

.advantages__item-svg {
  margin-left: 7px;
}

.advantages__item--yarn {
  @media (min-width: @tablet-width) {
    order: 1;
  }
}

.advantages__item--yarn .advantages__item-svg {
  margin-left: 3px;
  margin-bottom: 4px;
}

.advantages__item--money {
  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.advantages__item--money .advantages__item-svg {
  margin-left: 0;
  margin-bottom: 11px;

  @media (min-width: @tablet-width) {
    margin-bottom: 5px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 9px;
  }
}

.advantages__item--rocket {
  @media (min-width: @tablet-width) {
    order: 3;
  }
}

.advantages__item--rocket .advantages__item-svg {
  margin-top: 3px;
  margin-left: -6px;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin-bottom: 7px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 11px;
  }
}

.advantages__item--heart {
  @media (min-width: @tablet-width) {
    order: 4;
  }
}

.advantages__item--heart .advantages__item-svg {
  margin-top: 5px;
  margin-left: 7px;
  margin-bottom: 6px;

  @media (min-width: @tablet-width) {
    margin-top: 3px;
    margin-bottom: 2px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 4px;
  }
}

.advantages__item--gift {
  @media (min-width: @tablet-width) {
    order: 5;
  }
}

.advantages__item--gift .advantages__item-svg {
  margin-top: 3px;
  margin-left: 3px;
  margin-bottom: 4px;

  @media (min-width: @tablet-width) {
    margin-top: 1px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 2px;
  }
}

.advantages__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  margin: 0;
  margin-top: 11px;
  color: #000000;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 8px;
  }
}
