.advantages__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.advantages__list {
  .list-reset;

  @media (min-width: @tablet-width) {
    height: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.advantages__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}
