.catalog__list {
  padding: 30px;
  padding-bottom: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 81px 0;
    padding-bottom: 19px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    column-gap: 48px;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    padding: 128px 0;
    padding-bottom: 23px;
  }
}

.catalog__item {
  margin-bottom: 30px;
  border: 1px solid #ececec;

  @media (min-width: @tablet-width) {
    min-width: 670px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    min-width: 316px;
    margin-bottom: 0;
  }
}

.catalog__item:last-child {
  margin: 0;
}
