.catalog__title {
  padding: 72px 41px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
}

.good__link {
  .link-reset;
}

.good__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.good__price {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

.good__button {
  padding: 32px;
  border: none
}

.form__link {
  .link-reset;
}
