.contacts {
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    padding-top: 61px;
  }
}

.contacts__title {
  position: relative;
  margin: 0;
  padding: 60px 30px;
  padding-bottom: 28px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    padding: 0 50px;
    margin-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    padding-left: 0;
    padding-bottom: 0;
    margin-top: 80px;
    margin-bottom: 35px;
  }
}

.contacts__title::before {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: -24px;
    right: 53px;
    content: url("../img/flag.svg");
  }

  @media (min-width: @desktop-width) {
    top: -16px;
    left: -111px;
  }
}

.contacts__list {
  padding: 0 30px;
  margin: 0;
  margin-bottom: 34px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #444444;

  @media (min-width: @tablet-width) {
    display: flex;
    gap: 48px;
    font-size: 17px;
    line-height: 30px;
    padding: 0 50px;
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    padding: 0;
    margin-bottom: 54px;
    gap: 0;
  }
}

.contacts__item {
  display: flex;
  margin-bottom: 28px;
}

.contacts__description {
  margin-right: 32px;

  @media (min-width: @tablet-width) {
    min-width: 80px;
    margin-right: 0;
  }
}

.contacts__text {
  margin: 0;
}

.e-mail__text {
  border-bottom: 1px solid #62d1ba;

  @media (min-width: @tablet-width) {
    height: max-content;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 4px;
  }
}

.e-mail__text:active,
.e-mail__text:hover {
  color: #46c1ae;
}

.e-mail__text:active {
  color: #46c1ae;
  border-bottom: #ffffff;
}

.contacts__link {
  .link-reset;
  font-size: 17px;
  line-height: 20px;
}

.contacts__map {
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 1;
    grid-row-end: -1;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0;
  }
}

.map {
  width: 100%;
}

.contacts__button {
  margin: 0 30px;
  margin-bottom: 39px;
  padding: 14px 27px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    margin-bottom: 57px;
    width: 230px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: max-content;
  }
}

.contacts__button:hover .contacts__link,
.contacts__button:active .contacts__link {
  color: #ffffff;
}

.contacts__button:active .contacts__link {
  color: rgba(255, 255, 255, 0.3);
}
