.footer {
  background-color: #f1f1f1;
  margin-top: auto;
}

.footer__logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    height: auto;
    margin-top: 5px;
  }

  @media (min-width: @desktop-width) {
    width: 140px;
    height: auto;
  }
}

.footer__logo .icon {
  fill: #000000;
}

.footer__logo:hover .icon {
  fill: #63d1bb;
  opacity: 1;
}

.footer__logo:active .icon {
  opacity: 0.3;
}

.footer__social {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media (min-width: @tablet-width) {
    border-bottom: none;
    padding: 0;
  }
}

.social__list {
  .list-reset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-top: 7px;
  }
}

.social__link {
  padding: 20px;
}

.social__link .icon {
  fill: #000000;
}

.social__link:hover .icon {
  fill: #46c1ae;
}

.social__link:active .icon {
  fill: #46c1ae;
  opacity: 0.3;
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.copyright__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
  margin-right: 27px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.copyright__link {
  padding-top: 5px;
  fill: #63d1bb;

  @media (min-width: @tablet-width) {
    padding-left: 27px;
    height: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 30px;
  }
}

.copyright__link:hover svg path{
  fill: #46c1ae;
}

.copyright__link:active svg {
  opacity: 0.3;
}

