.form-promo__title {
  margin: 0;
  padding: 73px 21px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
}

.sorting-type__group {
  border: none;
}

.sorting-type__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63D1BB;
}

.sorting-type__list {
  .list-reset;
}

.control__label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.field__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.communication__text {
  padding: 15px 0;
  border: none;
  border-bottom: 2px solid #000000;
}

.additionally-text {
  border: 2px solid #000000;
}

