.header {
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.header__logo {
  @media (min-width: @tablet-width) {
    padding: 22px 0;
  }
}
