.promo__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  padding: 73px 30px;
  padding-bottom: 120px;
  min-height: 180px;
  text-align: center;
  background-color: #ffffff;
  background-image: url("../../img/promo-background-mobile.jpg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    background-image: url("../../img/promo-background-tablet.jpg");
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../../img/promo-background-desktop.jpg");
  }
}

.promo__list {
  @media (min-width: @tablet-width) {
    min-width: @tablet-width;
    display: flex;
  }

  @media (min-width: @desktop-width) {
    min-width: @desktop-width;
    display: flex;
  }
}

.promo__item {
  padding: 23px 30px;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    flex-grow: 1;
  }
}

.promo__item img {
  padding-left: 40px;
}

.promo__interior {
  background-color: #63d1bb;
}

.promo__kids-toys {
  background-color: #56c3b2;
}

.promo__link {
  .link-reset;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
