.promo {
  background-color: #fafafa;
}

.promo__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  margin-top: -8px;
  padding: 74px 30px;
  padding-bottom: 30.5px;
  min-height: 180px;
  text-align: center;
  background-color: #fafafa;
  background-image: url("../img/promo-background-mobile.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    background-image: url("../img/promo-background-tablet.jpg");
    height: 400px;
    background-repeat: no-repeat;
    font-size: 43px;
    line-height: 50px;
    padding: 155px 50px;
    padding-bottom: 71.5px;
    margin-top: -57px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/promo-background-desktop.jpg");
    font-size: 53px;
    line-height: 57px;
    padding: 158px 225px;
    padding-bottom: 69px;
    margin-top: -64px;
  }
}

.promo__list {
  position: relative;
  background-color: #fafafa;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 50px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.promo__list::before {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: 107px;
    left: 0;
    content: url("../img/zigzag-tablet-promo.svg");
  }

  @media (min-width: @desktop-width) {
    top: 102px;
    content: url("../img/zigzag-desktop-promo.svg");
  }
}

.promo__item {
  padding: 24px 30px;
  padding-bottom: 17px;

  @media (min-width: @tablet-width) {
    flex-grow: 1;
    padding: 26px 36px;
    padding-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    padding: 25px 37px;
    padding-bottom: 31px;
  }
}

.promo__item img {
  padding-left: 40px;
  margin-right: 5px;

  @media (min-width: @tablet-width) {
    margin-right: 0;
  }
}

.promo__interior {
  background-color: #63d1bb;
}

.promo__kids-toys {
  background-color: #56c3b2;
  padding-bottom: 19px;
}

.promo__link {
  .link-reset;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.promo__link svg {
  opacity: 0.5;
}

.promo__link:active svg,
.promo__link:hover svg {
  opacity: 0.7;
  height: 120%;

  @media (min-width: @tablet-width) {
    margin-top: -5px;
  }
}

.promo__interior .promo__link:hover {
  padding-bottom: 0;

  @media (min-width: @tablet-width) {
    padding-bottom: 2px;
  }
}

.promo__link:disabled svg {
  opacity: 0.3;
}
