.promo__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  padding-top: 110px;
  width: 300px;
  height: 300px;
  background-image: url("../../img/promo-background.jpg");

  @media (min-width: @tablet-width) {
    background-image: url("../../img/promo-image-desktop.jpg");
    width: 100%;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.promo__list {
  @media (min-width: @tablet-width) {
    width: @tablet-width;
    display: flex;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    display: flex;
  }
}

.promo__item {
  @media (min-width: @tablet-width) {
    flex-grow: 1;
  }
}

.promo__interior {
  background-color: #63d1bb;
  padding: 24px 0;
}

.promo__kids-toys {
  background-color: #56c3b2;
  padding: 24px 0;
}

.promo__link {
  .link-reset;
  padding: 25px 36px;
}
