.reviews {
  background-color: #ffffff;
}

.reviews__title {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 43px;
    line-height: 50px;
    margin-top: 3px;
    margin-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin-top: 0;
  }
}

.reviews__text {
  margin: 0;
  margin-bottom: 35px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: -1;
    margin-top: 24px;
    margin-bottom: 61px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 20px;
    margin-right: 65px;
    margin-bottom: 44px;
  }
}

.reviews__person {
  margin-bottom: 31px;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.reviews__name {
  margin: 0;
  margin-bottom: 9px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 6px;
  }

  @media (min-width: @desktop-width) {
    font-size: 17px;
  }
}

.reviews__email {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
}

.reviews__button {
  display: flex;
  margin-bottom: 38px;
  justify-content: center;

  @media (min-width: @tablet-width) {
    grid-row-start: 3;
    grid-row-end: -1;
    grid-column-start: 3;
    grid-column-end: -1;
    width: 160px;
    margin-left: auto;
    margin-right: 9px;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-end;
    margin-right: 10px;
  }
}

.reviews__button-arrow {
  height: 52px;
  width: 130px;
  border: 1px solid #ececec;
  background-color: #ffffff;
  padding-top: 7px;
  padding-right: 10px;

  @media (min-width: @tablet-width) {
    border: none;
    padding-right: 0;
    padding-top: 10px;
  }

  @media (min-width: @desktop-width) {
    width: 95px;
    padding-top: 9px;
    padding-right: 5px;
  }
}

.reviews__button-arrow:hover,
.reviews__button-arrow:active {
  opacity: 0.6;
}

.reviews__button-arrow:active {
  opacity: 0.3;
}

.button__arrow-right {
  transform: rotate(180deg);

  @media (min-width: @tablet-width) {
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    margin-right: -10px;
  }
}

.reviews__button-write {
  width: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
  border: 2px solid #444444;
  padding: 14px 70px;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: -1;
    margin-left: auto;
    width: 175px;
    height: max-content;
    text-align: center;
    padding: 14px 26px;
  }
}

.reviews__button-write:hover {
  background-color: #444444;
  color: #ffffff;
}

.reviews__button-write:active {
  background-color: #444444;
  color: rgba(255, 255, 255, 0.3);
}
