.sorting-type__group {
  border: none;
  margin-bottom: 50px;
  padding: 0 30px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 50px;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.sorting-type__group::after {
  position: absolute;
  top: 10px;
  left: 100px;
  height: 2px;
  background-color: #62d1ba;
  width: 200px;
  content: "";

  @media (min-width: @tablet-width) {
    background-color: transparent;
  }
}

.sorting-type__list {
  .list-reset;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }

  @media (min-width: @desktop-width) {
    gap: 10px;
  }
}

.sorting-type__list--type {
  @media (min-width: @tablet-width) {
    flex-direction: column;
  }
}

.sorting-type__list--color {
  @media (min-width: @tablet-width) {
    margin-left: 100px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 50px;
  }
}

.sorting-type__group--color,
.sorting-type__group--tel,
.sorting-type__group--email {
  @media (min-width: @tablet-width) {
    background-color: #f1f1f1;
  }
}

.sorting-type__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;

  @media (min-width: @tablet-width)  {
    width: 150px;
  }
}

.sorting-type__item {
  margin-bottom: 15px;

  @media (min-width: @tablet-width)  {
    width: 240px;
  }
}

.sorting-type__control {
  position: relative;
  display: block;
  padding: 15px 0;
  padding-left: 60px;
}

//  Радио кнопки
.control-mark__radio {
  position: absolute;
  top: 2.5px;
  left: 0;
  width: 42px;
  height: 42px;
  border: 2px solid #444444;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 52px;
    height: 52px;
  }
}

.control__input-radio:checked + .control-mark__radio::before {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 18.33px;
  height: 18.33px;
  background-color: #62d1ba;
  border-radius: 50%;
  content: "";

  @media (min-width: @tablet-width) {
    top: 15px;
    left: 15px;
    width: 22.69px;
    height: 22.69px;
  }
}

.control__label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #000000;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

//  Чекбоксы
.control-mark__checkbox {
  position: absolute;
  top: 2px;
  left: 0;
  width: 38px;
  height: 38px;
  border: 2px solid #444444;
}

.control-input + .control-mark__checkbox::before {
  position: absolute;
  top: 6px;
  left: 4px;
}

.control-input:checked +  .control-mark__checkbox::before {
  content: url("../../img/checkbox-active.svg");
}
