.sorting-type__list {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
}

.sorting-type__list--type {
  @media (min-width: @tablet-width) {
    flex-direction: column;
  }
}

// .sorting-type__item {
//   @media (min-width: @tablet-width) {

//   }
// }

.control__label {
  @media (min-width: @tablet-width) {
    margin: 100px;
  }
}
