.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ececec;
  margin: 30px;

  @media (min-width: @tablet-width) {
    align-items: flex-start;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
  }
}

.video__tittle {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  padding-left: 25px;
  width: 160px;

  @media (min-width: @tablet-width) {
    width: auto;
  }
}

.video__wrap {
  display: flex;
  align-items: center;
  padding: 21px 13px;
  justify-content: center;

  @media (min-width: @tablet-width) {
    padding: 20px 40px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.video__img {
  width: 100%;

  @media (min-width: @tablet-width) {
    order: -1;
    min-height: 455px;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 1;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 682.65px;
    height: 455px;
  }
}

.video__text {
  @media (min-width: @tablet-width) {
    padding: 0 40px;
  }
}
